.root  {
    -fx-background-color: rgb(46,48,50);
    -fx-padding: 10;
}

.sidebar {
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 0 10 0 0;
    -fx-border-insets: 0 10 0 0;
    -fx-background-color: rgb(32,32,32);
    -fx-border-color: rgb(30, 30, 30);
    -fx-border-width: 2;
}
.label {
    -fx-text-fill: wheat;
    -fx-font-size: 17px;
}

.hide-left {
    -glyph-name: "INDENT";
    -glyph-size: 25px;
    -fx-fill: "#07260F";
}

.show-right {
    -glyph-name: "OUTDENT";
    -glyph-size: 25px;
    -fx-fill: "#07260F";
}

/* Styling Device List */
.viewport {
    -fx-background-color: rgb(46,48,50);
}

.accordion {
    -fx-background-color: rgb(46,48,50);
}

.titled-pane > .content{
    -fx-background-color: rgb(46,48,50);
}

.button {
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.combo-box {
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    }

.titled-pane > .title {
     -fx-background-color:
             rgba(0,0,0,0.08),
             linear-gradient(#9a9a9a, #909090),
             linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);

}

/** On hover and on expanded */
.titled-pane > .title:hover {
    -fx-background-color:
                 linear-gradient(#f0ff35, #a9ff00),
                 radial-gradient(center 50% -40%, radius 200%, #e2f8ae 45%, #b2de66 50%);
}

.titled-pane:expanded > .title:hover {
    -fx-background-color:
                 linear-gradient(#f0ff35, #a9ff00),
                 radial-gradient(center 50% -40%, radius 200%, #e2f8ae 45%, #b2de66 50%);
}

.titled-pane:expanded > .title {
      -fx-background-color:
                 linear-gradient(#f0ff35, #a9ff00),
                 radial-gradient(center 50% -40%, radius 200%, #e2f8ae 45%, #b2de66 50%);

}