.root  {
    -fx-background-color: cornsilk;
    -fx-padding: 10;
}

.sidebar {
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 0 10 0 0;
    -fx-border-insets: 0 10 0 0;
    -fx-background-color: wheat;
    -fx-border-color: rgb(30, 30, 30);
    -fx-border-width: 2;
}
.label {
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.label-header-max {
    -fx-font-size: 17px;
}

.label-header-min {
    -fx-font-size: 15px;
}

.hide-left {
    -glyph-name: "INDENT";
    -glyph-size: 25px;
    -fx-fill: "#07260F";
}

.show-right {
    -glyph-name: "OUTDENT";
    -glyph-size: 25px;
    -fx-fill: "#07260F";
}

/* Styling Device List */
.viewport {
    -fx-background-color: cornsilk;
}

.accordion {
    -fx-background-color: cornsilk;
}

.titled-pane > .content{
    -fx-background-color: cornsilk;
}

.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #b56842 0%, #a66241 100%),
        #b0664f,
        #df8b61,
        radial-gradient(center 50% 50%, radius 100%, #df8b61, #d07156);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #b56842 0%, #a66241 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ee986e, #d07156);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}


/**
* Toggle Button
**/

.toggle-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
    linear-gradient(from 0% 93% to 0% 100%, #b56842 0%, #a66241 100%),
    #b0664f,
    #df8b61,
    radial-gradient(center 50% 50%, radius 100%, #df8b61, #d07156);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.toggle-button:hover {
    -fx-background-color:
    linear-gradient(from 0% 93% to 0% 100%, #b56842 0%, #a66241 100%),
    #9d4024,
    #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, #ee986e, #d07156);
}
.toggle-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.toggle-button:selected {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}


.toggle-button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}


.combo-box{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
    linear-gradient(from 0% 93% to 0% 100%, #b56842 0%, #a66241 100%),
    #b0664f,
    #df8b61,
    radial-gradient(center 50% 50%, radius 100%, #df8b61, #d07156);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.titled-pane > .title {
     -fx-background-color:
             rgba(0,0,0,0.08),
             linear-gradient(#9a9a9a, #909090),
             linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);

}

/** On hover and on expanded */
.titled-pane > .title:hover {
        -fx-background-color:
                linear-gradient(#dc9480, #e7b8aa);
}

.titled-pane:expanded > .title:hover {
        -fx-background-color:
        linear-gradient(#dc9480, #e7b8aa);
}

.titled-pane:expanded > .title {
        -fx-background-color:
        linear-gradient(#dc9480, #e7b8aa);

}