.root  {
    -fx-background-color: rgb(32, 32, 32);
    -fx-padding: 10;
}

.sidebar {
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 0 10 0 0;
    -fx-border-insets: 0 10 0 0;
    -fx-background-color: rgb(46,48,50);
    -fx-border-color: rgb(30, 30, 30);
    -fx-border-width: 2;
}
.label {
    -fx-text-fill: wheat;
}

.hide-left {
    -glyph-name: "INDENT";
    -glyph-size: 25px;
    -fx-fill: "#27C24C";
}

.show-right {
    -glyph-name: "OUTDENT";
    -glyph-size: 25px;
    -fx-fill: "#27C24C";
}

/* Styling Device List */
.viewport {
    -fx-background-color: rgb(32, 32, 32);
}

.accordion {
    -fx-background-color: rgb(32, 32, 32);
}

.titled-pane > .content{
    -fx-background-color: rgb(32, 32, 32);
}
