.root  {
    -fx-background-base: rgb(240,240,240);
    -fx-padding: 10;
    -fx-text-base-color: black;
}

.sidebar {
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 0 10 0 0;
    -fx-border-insets: 0 10 0 0;
    -fx-background-color:
    rgb(244,244,244),
    linear-gradient(to bottom right, rgb(174,179,185), rgb(233,233,234)),
    linear-gradient(to bottom right, rgb(203,207,213), rgb(246,246,246));
    -fx-border-color: rgb(30, 30, 30);
    -fx-border-width: 2;
}

.label {
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 12px;
}

.label-header-max {
    -fx-font-size: 17px;
}

.label-header-min {
    -fx-font-size: 15px;
}

.hide-left {
    -glyph-name: "INDENT";
    -glyph-size: 25px;
    -fx-fill: "#07260F";
}

.show-right {
    -glyph-name: "OUTDENT";
    -glyph-size: 25px;
    -fx-fill: "#07260F";
}

/* Styling Device List */
.viewport {
    -fx-background-color: -fx-background-base;
}

.accordion {
    -fx-background-color: -fx-background-base;
}

.titled-pane > .content{
    -fx-background-color: -fx-background-base;
}

.button {
    -fx-alignment: center;
    -fx-background-color:
    rgb(112,112,112),
    linear-gradient(rgb(252,252,252), rgb(252,252,252)),
    linear-gradient(rgb(242,242,242) 0%, rgb(235,235,235) 49%, rgb(221,221,221) 50%, rgb(207,207,207) 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 14 14 13 13;
    -fx-text-fill: -fx-text-base-color;
}

.button:hover{
    -fx-background-color:
    rgb(60,127,177),
    linear-gradient(rgb(250,253,254),rgb(250,253,254)),
    linear-gradient(rgb(234, 246, 253) 0%, rgb(217, 240, 252) 49%, rgb(190, 230, 253) 50%, rgb(167, 217, 245) 100%);
}

.button:default{
    -fx-background-color:
    rgb(60,127,177),
    linear-gradient(rgb(47,212,255), rgb(47,212,255)),
    linear-gradient(rgb(234,246,252) 0%, rgb(228,243,252) 49%, rgb(202,233,250) 50%, rgb(182,222,245) 100%);
}

.button:armed, .toggle-button:armed{
    -fx-background-color:
    rgb(44,98,139),
    linear-gradient(rgb(158,176,186), rgb(158,176,186)),
    linear-gradient(rgb(229,244,252) 0%, rgb(196,229,246) 49%, rgb(152,209,239) 50%, rgb(104,179,219) 100%);
}

.toggle-button {
    -fx-alignment: center;
    -fx-background-color:
    rgb(112,112,112),
    linear-gradient(rgb(252,252,252), rgb(252,252,252)),
    linear-gradient(rgb(242,242,242) 0%, rgb(235,235,235) 49%, rgb(221,221,221) 50%, rgb(207,207,207) 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 14 14 13 13;
    -fx-text-fill: -fx-text-base-color;
}

.toggle-button:hover{
    -fx-background-color:
    rgb(60,127,177),
    linear-gradient(rgb(250,253,254),rgb(250,253,254)),
    linear-gradient(rgb(234, 246, 253) 0%, rgb(217, 240, 252) 49%, rgb(190, 230, 253) 50%, rgb(167, 217, 245) 100%);
}

.toggle-button:default{
    -fx-background-color:
    rgb(60,127,177),
    linear-gradient(rgb(47,212,255), rgb(47,212,255)),
    linear-gradient(rgb(234,246,252) 0%, rgb(228,243,252) 49%, rgb(202,233,250) 50%, rgb(182,222,245) 100%);
}

.toggle-button:armed, .toggle-toggle-button:armed{
    -fx-background-color:
    rgb(44,98,139),
    linear-gradient(rgb(158,176,186), rgb(158,176,186)),
    linear-gradient(rgb(229,244,252) 0%, rgb(196,229,246) 49%, rgb(152,209,239) 50%, rgb(104,179,219) 100%);
}

.combo-box {
    -fx-alignment: center;
    -fx-background-color:
    rgb(112,112,112),
    linear-gradient(rgb(252,252,252), rgb(252,252,252)),
    linear-gradient(rgb(242,242,242) 0%, rgb(235,235,235) 49%, rgb(221,221,221) 50%, rgb(207,207,207) 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 14 14 13 13;
    -fx-text-fill: -fx-text-base-color;
}

.titled-pane > .title {
    -fx-background-color:
    rgba(0,0,0,0.08),
    linear-gradient(#9a9a9a, #909090),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);

}

/** On hover and on expanded */
.titled-pane > .title:hover {
    -fx-background-color:
    rgb(60,127,177),
    linear-gradient(rgb(250,253,254),rgb(250,253,254)),
    linear-gradient(rgb(234, 246, 253) 0%, rgb(217, 240, 252) 49%, rgb(190, 230, 253) 50%, rgb(167, 217, 245) 100%);
}

.titled-pane:expanded > .title:hover {
    -fx-background-color:
    rgb(60,127,177),
    linear-gradient(rgb(250,253,254),rgb(250,253,254)),
    linear-gradient(rgb(234, 246, 253) 0%, rgb(217, 240, 252) 49%, rgb(190, 230, 253) 50%, rgb(167, 217, 245) 100%);
}

.titled-pane:expanded > .title {
    -fx-background-color:
    rgb(60,127,177),
    linear-gradient(rgb(250,253,254),rgb(250,253,254)),
    linear-gradient(rgb(234, 246, 253) 0%, rgb(217, 240, 252) 49%, rgb(190, 230, 253) 50%, rgb(167, 217, 245) 100%);
}